/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Zilla+Slab+Highlight:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1,
body h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 300%;
}

body p {
    font-family: "Roboto", sans-serif;
}

/* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: #0390fc;
    z-index: 1;
}

nav a {
    font-family: "Fjalla One", sans-serif;
    font-size: 150%;
    padding: 10px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 3px;
}

nav a:hover {
    background-color: #fc7303;
}

#logo {
    font-family: "Zilla Slab Highlight", sans-serif;
    font-size: 270%;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

#active {
    text-decoration: underline;
}

/* hero section */
#hero-section {
    display: flex;
    position: relative;
    height: 720px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/hero-image.jpeg") no-repeat center center;
    background-size: cover;
}

#hero-section h1 {
    margin-bottom: 30px;
    font-size: 500%;
    text-shadow: 2px 2px #e69138;
    color: #fff;
    text-transform: uppercase;
}

#hero-section button {
    border: none;
    background: transparent;
}

#hero-section a {
    font-family: "Fjalla One", sans-serif;
    font-size: 300%;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fc7303;
    border-radius: 6px;
    border: 3px solid transparent;
    display: inline-block;
    padding: 15px 120px;
    transition: transform 0.5s ease-in;
}

#hero-section a:hover {
    transform: translateY(-15%);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

#hero-section i {
    font-size: 90px;
    color: #fff;
    text-shadow: 2px 2px #e69138;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

/* testimonials/reviews */
#reviews-section {
    text-align: center;
    height: 450px;
    padding: 30px 0 30px 0;
    background-color: #0390fc;
}

.reviews-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-flex p {
    margin: 30px 15px 15px 15px;
    height: 300px;
    width: 360px;
    background-color: #fc7303;
}