/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1,
body h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 330%;
}

body p {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}