/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Zilla+Slab+Highlight:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    background-color: #0390fc;
}

h1,
h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px #fc7303;
}

h3 {
    font-family: "Fjalla One", sans-serif;
    font-size: 210%;
    text-transform: uppercase;
    color: #fff;
}

body p {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 150%;
}

/* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: #3c3c3d;
    z-index: 1;
}

nav a {
    font-family: "Fjalla One", sans-serif;
    font-size: 150%;
    padding: 10px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 3px;
}

nav a:hover {
    background-color: #fc7303;
}

#logo {
    font-family: "Zilla Slab Highlight", sans-serif;
    font-size: 270%;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

#active {
    text-decoration: underline;
}

/* hero section */
#hero-section {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/hero-image.jpeg") no-repeat center center;
    background-size: cover;
}

#hero-section h1 {
    margin-bottom: 30px;
    font-size: 500%;
    text-shadow: 2px 2px #e69138;
    color: #fff;
    text-transform: uppercase;
}

#hero-section button {
    border: none;
    background: transparent;
}

#hero-section a {
    font-family: "Fjalla One", sans-serif;
    font-size: 300%;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fc7303;
    border-radius: 6px;
    border: 3px solid transparent;
    display: inline-block;
    padding: 15px 120px;
    transition: transform 0.5s ease-in;
}

#hero-section a:hover {
    transform: translateY(-15%);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

#hero-section i {
    font-size: 90px;
    color: #fff;
    text-shadow: 2px 2px #fc7303;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

/* testimonials/reviews */
#reviews-section {
    text-align: center;
    height: 450px;
    padding-top: 30px;
}

#reviews-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviews-flex p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 15px 15px 15px;
    padding: 15px;
    height: 210px;
    width: 360px;
    background-color: #fc7303;
    border-radius: 6px;
    border-bottom: 3px solid #fff;
}   

#reviews-flex span {
    font-style: italic;
}

/* hiring partners */
#hiring-partners {
    text-align: center;
    height: 450px;
    background-color: #3c3c3d;
    padding-top: 30px;
}

#hiring-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiring-flex p {
    height: 210px;
    width: 510px;
    background-color: #fc7303;
    margin: 30px 90px 15px 15px;
    padding: 15px;    
    border-radius: 6px;
    border-bottom: 3px solid #fff;
}

#company-logos {
    height: 210px;
    width: 360px;
}

#hiring-flex i {
    font-size: 390%;
    margin: 30px;
    color: #fff;
}

/* courses - homepage */
#course-section {
    text-align: center;
    padding-top: 30px;
}

.course {
    display: flex;
    height: 360px;
    justify-content: center;
}

.course p {
    margin-top: 10px;
}

.course-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    background-color: #fc7303;
    margin: 15px;
    padding: 15px;
    border-bottom: 3px solid #fff;
}

.course-stat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    background-color: #3c3c3d;
    margin: 15px;
    padding: 15px;
    border-bottom: 3px solid #fc7303;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #3c3c3d;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}

footer li {
    display: inline-block;
    font-size: 30px;
    list-style: none;
    margin: 0 15px;
}

footer button {
    border: none;
    background: transparent;
}

footer button a {
    font-family: "Fjalla One", sans-serif;
    font-size: 160%;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fc7303;
    border-radius: 6px;
    border: 3px solid transparent;
    padding: 6px 45px;
    margin-left: 15px;
}

/* about page */
#about-main {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

#about-main aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3c3c3d;
    margin: 60px 60px 0 0;
    height: 600px;
    width: 30%;
}

#about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

#about-section h1 {
    margin-bottom: 30px;
}

iframe {
    margin: 30px 0;
    width: 600px;
    height: 240px;
}